@charset "utf-8";

/* CSS Document */


/*Resets and overrides*/

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span {
    /*text-align: center;*/
    margin: 0;
    padding: 0;
    line-height: 1;
}
html,
html a {
    -webkit-font-smoothing: antialiased;
}


h2, h3 {
  text-align: center;
}

/*Font Face Fontello*/

@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello/fontello.eot?11696308');
    src: url('fonts/fontello/fontello.eot?11696308#iefix') format('embedded-opentype'), url('fonts/fontello/fontello.woff?11696308') format('woff'), url('fonts/fontello/fontello.ttf?11696308') format('truetype'), url('fonts/fontello/fontello.svg?11696308#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

/*Font Face Linecons*/

@font-face {
    font-family: 'linecons';
    src: url('fonts/linecons/linecons.eot');
    src: url('fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'), url('fonts/linecons/linecons.ttf') format('truetype'), url('fonts/linecons/linecons.woff') format('woff'), url('fonts/linecons/linecons.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

/*Font Face Digiffiti*/

@font-face {
    font-family: digiffiti;
    src: url('fonts/digiffiti/digiffiti.ttf') format('truetype'),

}
/*Font Face Sabo*/

@font-face {
    font-family: sabo;
   src: url('fonts/sabo/sabo.otf')format("opentype");

}


@font-face {
    font-family: zona;
   src: url('fonts/ZonaPro.ttf')format("opentype");

}



/*Font Face Bit_Out*/

@font-face {
    font-family: 'bit_out';
    url('fonts/bit_out/bitout.fon') format('opentype'),
    font-weight: normal;

    font-style: normal;
    font-variant: normal;
    speak: none;

}

img {
    border: none;
}
a,
a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}
ul {
    list-style-type: none;
}
body {
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h2 {
    font-family: sabo;
    font-size: 50px;
    font-weight: 900;
    color: #000000;
    margin: 0 0 21px 0;

}
h3 {

    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 1.6;
}
h4 {
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 10px 0;
}
p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #767e9e;
}
.left {
    float: left;
}
.right {
    float: right;
}
.both {
    clear: both;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}
.inner {
    margin: 0 auto;
    max-width: 940px;
    padding: 67px 10px;
    overflow: hidden;
}

/*===================================
============== Header ===============
===================================*/

#header {
/*    visibility: hidden;*/
    display: none;
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    position: fixed;
    top: 0;
    box-shadow: 0px 0.75px 5px #EBEBEB;
    padding-bottom: 15px;
}
#header .inner {
    padding-top: 34px;
    padding-bottom: 3px;
    z-index: auto:
}

/*logo*/


h1.logo {
  position: absolute;
    top: -1px;
    height: 70px;
    width: 20%;
    background: url(images/mergingbear.png) no-repeat;
    text-indent: -9999px;
    margin-bottom: 5000px;
    /*z-index: auto:*/
}
h1.logo a {
    display: block;
    height: 100%;
}
*/

/*
h1.logo:hover {
    height: 20px;
}



/*Nav Menu*/

ul.nav-menu {
    position: relative;
    top: -12px;
    padding: 9px 0 0 0;
}
ul.nav-menu li {
    top: -59px;
    float: left;
/*    font-size: 12px;*/
    /*font-style: italic;*/
    font-size: 1rem;
    /*font-weight: 700;*/
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: zona;
}
ul.nav-menu li a {

}


ul.nav-menu li:before {
    font-family: 'fontello';
    content: "\e804";
}
ul.nav-menu li:first-child:before {
    content: "\e804";
    color: #FFFFFF;
}
ul.nav-menu li:first-child a {
    margin-left: 0px;
}
ul.nav-menu li:last-child a {
    margin-right: 0px;
}
ul.nav-menu li a {
    color: black;
    display: inline-block;
    margin: 0 13px 0 13px;
}
ul.nav-menu li a:hover {
    color: #00BAFF;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*===================================
============== Slider ===============
===================================*/


/*
#slider {
    background: #eb5055;
    overflow: hidden;
    border-bottom: 6px solid #ea676b;
}
#slider .inner {
    padding-top: 53px;
    padding-bottom: 53px;
}
*/


/*===================================
============= Services ==============
===================================*/

#services {
    padding-top: 60px;
    background: #FFFFFF;
    overflow: hidden;
    border-bottom: 6px solid #ffffff;
    height: 100%;

}
#services .inner {
    padding-bottom: 31px;
}
#services ul {
    padding: 46px 0 0 0;
}
#services ul li {
    float: left;
    padding: 0 20px 0 0;
    max-width: 290px;
    margin: 0 0 36px 0;
}
#services ul li span {
    float: left;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 35px;
    font-family: 'linecons';
    color: #666d89;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #666d89;
    margin: 0 10px 0 0;
}
#services ul li:hover span {
    color: #eb5055;
    border: 2px solid #eb5055;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.li_heart:before {
    content: "\e000";
}
.li_star:before {
    content: "\e002";
}
.li_bulb:before {
    content: "\e00e";
}
.li_pen:before {
    content: "\e00f";
}
.li_bubble:before {
    content: "\e014";
}
.li_phone:before {
    content: "\e017";
}
#services ul li h4 {
    float: right;
    width: 220px;
}
#services ul li p {
    float: right;
    width: 220px;
    text-align: justify;
}

/*===================================
============= Portfolio =============
===================================*/

#portfolio {
    padding-top: 60px;
    background: #F0F0F0;
    overflow: hidden;
    border-bottom: 6px solid #F0F0F0;
}
#portfolio .inner {
    padding-bottom: 52px;
}
#portfolio .inner h3 {
    margin-bottom: 12px;
}

/*Portfolio Menu*/

#portfolio ul.portfolio-menu {
    width: 100%;
    overflow: hidden;
}
#portfolio ul.portfolio-menu li {
    float: left;
    display: inline;
    margin: 0 10px 0 0;
    font-size: 12px;
    font-weight: 300;
}
#portfolio ul.portfolio-menu li a {
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
*/
    border: 1px solid #666d89;
    color: #767e9e;
    padding: 4px 7px;
    height: 100%;
    display: block;
}
#portfolio ul.portfolio-menu li a:hover,
#portfolio ul.portfolio-menu li.current a {
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
*/
    border: 1px solid #00baff;
    color: #00baff;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*Portfolio*/

#portfolio ul.portfolio {
    width: 100%;
    padding: 19px 0 0 0;
}
#portfolio ul.portfolio li {
    float: left;
    display: inline;
    margin: 0 15px 15px 0;
}
#portfolio ul.portfolio li a {
    height: 100%;
    display: block;
}
#portfolio ul.portfolio li a:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*===================================
============== About ===============
===================================*/

#about {
    padding-top: 60px;
    background: #FFFFFF;
    overflow: hidden;
    border-bottom: 6px solid #ffffff;
}
#about ul {
    padding: 46px 0 0 0;
}
#about ul li {
    width: 300px;
    float: left;
    display: inline;
    margin: 0 0 0 20px;
}
#about ul li:first-child {
    margin-left: 0;
}
#about ul li img,
#about ul li h4,
#about ul li p {
    display: block;
}
#about ul li img {
    margin: 0 0 17px 0;
}
#about ul li p {
    margin: 0 0 24px 0;
}
#about ul li a {
    display: block;
}
#about ul li span {
    font-family: "fontello";
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #6a718c;
    color: #6a718c;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
#about ul li span:hover {
    border: 1px solid #eb5055;
    color: #eb5055;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.icon-twitter:before {
    content: '\e802';
}
.icon-facebook:before {
    content: '\e800';
}
.icon-gplus:before {
    content: '\e801';
}
.icon-linkedin:before {
    content: '\e803';
}

/*===================================
============= Contact ===============
===================================*/

#contact {
    padding-top: 60px;
    /*    height: 800px;*/
    background: #181818;
    overflow: hidden;
    border-bottom: 6px solid #181818;
}
#contact h2,
#contact h3,
#contact h4,
#contact p,
#contact span {
    color: #F7FFFF;
}
#contact ul {
    padding: 44px 0 0 0;
    overflow: hidden;
}
#contact ul li {
    float: left;
    display: inline;
    max-width: 300px;
    padding: 0 0 0 10px;
}
#contact ul li:first-child {
    padding: 0 10px 0 0;
    max-width: 620px;
}
form {}
input {
    background: #181818;
    max-width: 590px;
    width: 590px;
    height: 38px;
    line-height: 38px;
    border: 0;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    padding: 0px 15px;
    margin: 0 0 16px 0;
    outline: none;
    border: solid 1px;
    border-color: #767e9e;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
*/
}
textarea {
    background: #181818;
    max-width: 590px;
    width: 590px;
    height: 202px;
    max-height: 202px;
    border: 0;
    padding: 15px;
    margin: 0 0 16px 0;
    outline: none;
    overflow: auto;
    resize: none;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    border: solid 1px;
    border-color: #767e9e;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
*/
}
.submitbtn {
    padding: 0;
    margin: 0;
    background: #181818;
    overflow: hidden;
    width: 110px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
}
.submitbtn:hover {
    background: #FFFFFF;
    color: #00baff;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#contact p {
    margin: 0 0 25px 0;
    text-align: justify;
}
#contact span {
    display: block;
    font-size: 12px;
    margin: 0 0 6px 0;
}
#contact span i {
    font-family: 'fontello';
    margin: 0 10px 0 0;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}
#contact span i.li_location {
    font-family: 'linecons';
}
.li_location:before {
    content: '\e012';
}
.icon-mail:before {
    content: '\e806';
}
.icon-phone:before {
    content: '\e805';
}

/*===================================
============= Footer ================
===================================*/

#footer {
    background: #F0F0F0;
    overflow: hidden;
}
#footer .inner {
    padding-top: 22px;
    padding-bottom: 22px;
}
#footer p {
    color: #666d89;
}
#footer p a {
    line-height: 32px;
    color: #666d89;
}
#footer p a:hover {
    color: #eb5055;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#footer ul {
    float: right;
}
#footer ul li span {
    font-family: "fontello";
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #6a718c;
    color: #6a718c;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
#footer ul li span:hover {
    border: 1px solid #00baff;
    color: #00baff;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*===================================
======= Back To Top  ==============
===================================*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: #666d89;
    font-size: 12px;
    padding: 1em;
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
}
.go-top:hover {
    color: #00baff;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*===================================
======= 8-Bit ME  ==============
===================================*/

#bitme {

    height: 500px;
    width: 350px;
   margin-left: auto;
    margin-right: auto;
   position:relative;
     top: -100px;
    margin-top: 5em;
        -webkit-transition: top 1.5s;
    -moz-transition: top 1.5s;
    -o-transition: top 1.5s;

}

#bitme:hover
{
    top: -10px;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
}

/*===================================
======= Hello ==============
===================================*/

#hello {
    -webkit-animation: animation 2000ms linear both;
    animation: animation 2000ms linear both;
}
#hello p {
    position: relative;
    margin-top: 2em;
    font-size: 3em;
    top: -2.5em;
    color: black;
    font-family: sabo;
    text-align: center;
}

/*===================================
======= Animation ==============
===================================*/


/* Generated with Bounce.js. Edit at http://goo.gl/bkOekC */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    2.05% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -107.847, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -107.847, 0, 0, 1);
    }
    2.6% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.001, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.001, 0, 0, 1);
    }
    4.05% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.966, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.966, 0, 0, 1);
    }
    5.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.527, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.527, 0, 0, 1);
    }
    6.06% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.464, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.464, 0, 0, 1);
    }
    8.06% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 34.914, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 34.914, 0, 0, 1);
    }
    11.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 21.028, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 21.028, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.409, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.409, 0, 0, 1);
    }
    17.62% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.934, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.934, 0, 0, 1);
    }
    19.17% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.36, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.36, 0, 0, 1);
    }
    23.92% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.156, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.156, 0, 0, 1);
    }
    30.13% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
    }
    30.28% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
    }
    41.39% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.084, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.084, 0, 0, 1);
    }
    50% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    55.16% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1);
    }
    80.18% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    2.05% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -107.847, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -107.847, 0, 0, 1);
    }
    2.6% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.001, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.001, 0, 0, 1);
    }
    4.05% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.966, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.966, 0, 0, 1);
    }
    5.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.527, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.527, 0, 0, 1);
    }
    6.06% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.464, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.464, 0, 0, 1);
    }
    8.06% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 34.914, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 34.914, 0, 0, 1);
    }
    11.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 21.028, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 21.028, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.409, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.409, 0, 0, 1);
    }
    17.62% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.934, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.934, 0, 0, 1);
    }
    19.17% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.36, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.36, 0, 0, 1);
    }
    23.92% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.156, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.156, 0, 0, 1);
    }
    30.13% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
    }
    30.28% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.373, 0, 0, 1);
    }
    41.39% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.084, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.084, 0, 0, 1);
    }
    50% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    55.16% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1);
    }
    80.18% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}


/*===================================
======= portfolio -2  ==============
===================================*/

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	/*width: 100%;*/
	height: 100%;
	background: #fff;
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nav-prev:before {
	content: "\e601";
}

.nav-next:before  {
	content: "\e600";
}

.nav-close:before {
  position: relative;
  top: 3.5rem;
	content: "\e602";
  }

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 100%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}
